body{
    background-color: white;
}


.navbar .container2 i{
    font-size: 30px;
    color: white;
}

.main {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid yellow;
    width: 20%;
    background-color: #1c1c1c; 
    color: rgb(255, 255, 255);
}

.userInfo img {
    height: 125px;
}


.sensors {
    height: fit-content;
    width: 80%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.boxSensors {
    background-color: #1c1c1c;
    height: 180px;
    width: 30%;
    border: 2px solid rgb(241, 241, 166);
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    flex-shrink: 3;
}

