.logo {
    color: #fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 35px;
}

.navbar img {
    width: 50px;
}

.navbar ul {
    text-transform: uppercase;
    display: flex;
}

.navbar li {
    list-style: none;
    line-height: 75px;
}

.navbar a {
    border-radius: 5px;
    padding: 7px 13px;
    color: #fff;
    text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
    background-color: #363636;
    color: yellow;
    transition: .5s;
}

/* COMEÇO RODAPÉ */


.footer .container2 img{
    width: 50px;
}

.footer .container2 span{
    font-size: 1.5rem;
    align-self: end;

}

.footer .container2 .logo{
    font-size: 10px;
    display: flex;
    
}

.footer .container2{
    display: flex;
    justify-content: space-between;
}

.footer .container2 a{
    font-size: 1.4rem;
    color: white;
    transition-duration: 600ms;
}

.footer .container2 a:hover{
    color: gray;
}

/* Fim rodapé */